.body{
    min-width: 18.125rem;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  #navbar{
    position: fixed;
    min-width: 18.125rem;
    top: 0px;
    left: 0px;
    width: 18.75rem;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
  }
 #main-doc header {
    text-align: left;
    margin: 0px;
 }
 #main-doc {
  position: absolute;
  margin-left: 19.375rem;
  padding: 1.25rem;
  margin-bottom: 6.875rem;
}
header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}
#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}
#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 50.9375rem) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 12.9375rem;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 17.1875rem;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 16.875rem;
  }
}

@media only screen and (max-width: 25rem) {
  #main-doc {
    margin-left: -10px;
  }
}